.gradle
build
**/*.iml
terraform/.terraform
terraform/.terraform.lock.hcl
shell/ip-ranges.json
**/*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
