# errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log
commands:
    01-command:
        command: yum install -y td-agent-bit
    02-command:
        command: systemctl restart td-agent-bit.service

files:
  "/etc/yum.repos.d/td-agent-bit.repo":
    content: |
        [td-agent-bit]
        name = TD Agent Bit
        baseurl = https://packages.fluentbit.io/amazonlinux/2/$basearch/
        gpgcheck=1
        gpgkey=https://packages.fluentbit.io/fluentbit.key
        enabled=1
  "/etc/td-agent-bit/td-agent-bit.conf":
    content: |
        [SERVICE]
            flush        5
            daemon       Off
            #            Log_Level    debug
        [INPUT]
            Name        tail
            Path        /var/log/web.stdout.log
        [FILTER]
            Name set-meta
            Match *
            Set index playroom-e
        [OUTPUT]
            Name        splunk
            Match       *
            Host        hec-ingress.hydra.aws.platform.porsche.cloud
            Port        443
            Splunk_Token `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "HEC_TOKEN"}}`
            TLS         On
            TLS.Verify  Off

