files:
  "/etc/td-agent/td-agent.conf":
    owner: root
    group: root
    content: |
        <match **>
          @type splunk_hec
          hec_host hec-ingress.hydra.aws.platform.porsche.cloud
          hec_port 443
          hec_token `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "HEC_TOKEN"}}`
          index core-platform-dev
        </match>
