files:
  "/etc/td-agent/td-agent.conf":
    owner: root
    group: root
    content: |
        <match **>
          @type splunk_hec
          hec_host hec-ingress.hydra.aws.platform.porsche.cloud
          hec_port 443
          hec_token 00000000-0000-0000-0000-000000000000
          index core-platform-dev
        </match>
