container_commands:
  01install-splunk:
    command: /usr/local/bin/install-splunk.sh
  02set-splunk-server-host:
    command: /usr/local/bin/set_splunk_server_host.sh "$SPLUNK_SERVER_HOST"
  03add-logs-to-splunk:
    command: /usr/local/bin/add_logs_to_splunk.sh "$ENVIRONMENT_NAME"
    cwd: /root
    ignoreErrors: false
files:
  "/usr/local/bin/install-splunk.sh":
    content: |
      #!/usr/bin/env bash

      echo "Downloading splunk forwarder from $SPLUNK_FORWARDER_RPM_DOWNLOAD_URL"
      /usr/bin/wget "$SPLUNK_FORWARDER_RPM_DOWNLOAD_URL" -O /usr/src/splunk-universal-forwarder.rpm
      echo "Executing installer"
      /bin/rpm -i /usr/src/splunk-universal-forwarder.rpm

      if [[ -z $(pgrep splunk) ]];then
        echo "Splunk process is not running, start it"
        /opt/splunkforwarder/bin/splunk start --answer-yes --no-prompt --accept-license
      else
        echo "Splunk process is already running"
      fi
    mode: "000755"
  "/opt/splunkforwarder/etc/system/local/outputs.conf":
    content: |
      [tcpout]
      defaultGroup = index1
      disabled = false

      [tcpout:index1]
      server = splunk_server_host:9997,

      [tcpout-server://splunk_server_host:9997]
    mode: "000644"
  "/usr/local/bin/set_splunk_server_host.sh":
    content: |
      #!/usr/bin/env bash

      splunk_server_host=$1
      echo "Parameter passed to set_splunk_server_host.sh: $1"
      echo "Setting up splunk server host $splunk_server_host"
      if [[ -z $splunk_server_host ]];then
        echo "$0: Cannot find splunk server host."
        exit 1
      fi

      outputs_file="/opt/splunkforwarder/etc/system/local/outputs.conf"
      if [[ -e $outputs_file ]];then
        chown splunk.splunk $outputs_file
        cp -f $outputs_file $outputs_file.orig
        sed -i "s/splunk_server_host/$splunk_server_host/g" $outputs_file

        if [[ -n $(diff $outputs_file $outputs_file.orig) && -n $(pgrep splunk) ]];then
          /opt/splunkforwarder/bin/splunk restart
        fi
      fi
    mode: "000755"
  "/usr/local/bin/add_logs_to_splunk.sh":
    content: |
      #!/usr/bin/env bash

      application_name=$1
      instance_name=$(curl -s http://169.254.169.254/latest/meta-data/instance-id)
      splunk_logs_hostname="$application_name/$instance_name"

      export HOME=/root
      /opt/splunkforwarder/bin/splunk login -auth admin:changeme

      echo "Currently registered logs:"
      /opt/splunkforwarder/bin/splunk list monitor

      /opt/splunkforwarder/bin/splunk edit monitor "/var/log/web*.log" -hostname "$splunk_logs_hostname"
    mode: "000755"
